@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f5fa;
  transition: all 1s ease-in-out;
}

.hideScrollBar {
  scrollbar-width: none; /* Hide the scrollbar for Firefox */
  -ms-overflow-style: none;
}
.hideScrollBar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}
